{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="position-absolute start-50 top-50 translate-middle" style="width: 600px">
    <form class="bg-white p-5 rounded-3">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Remember</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}